$primary-color: #3f3f3f;
$mist-color: #90AFC5;
$stone-color: #336B87;
$shadow-color: #2A3132;
$autumn-color: #763626;
$sky-color: #375E97;
$flower-color: #FFBB00;
$grass-color: #3f681c;
$seafoam-color: #c4dfe6;
$deep-aqua-color: #003b46;
$ocean-color: #07575b;
$overcast-color: #f1f1f2;

$text-color: #001f3f;
